@tailwind base;
@tailwind components;
@tailwind utilities;

.text-bodydark1 {
  --tw-text-opacity: 1;
  color: rgb(222 228 238 / var(--tw-text-opacity)) /* #dee4ee */;
}

.text-bodydark2 {
  --tw-text-opacity: 1;
  color: rgb(192 197 206 / var(--tw-text-opacity)) /* #8a99af */;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(28 36 52 / var(--tw-bg-opacity)) /* #1c2434 */;
}

.drop-shadow-1 {
  --tw-drop-shadow: drop-shadow(0px 1px 0px #e2e8f0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.shadow-2 {
  --tw-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 1px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.border-stroke {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity)) /* #e2e8f0 */;
}

.shadow-default {
  --tw-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  --tw-shadow-colored: 0px 8px 13px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-primary-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(49 66 196 / var(--tw-bg-opacity)) /* #3c50e0 */;
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(239 244 251 / var(--tw-text-opacity)) /* #eff4fb */;
}
.hover\:bg-graydark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 58 72 / var(--tw-bg-opacity)) /* #333a48 */;
}

ion-icon {
  font-size: 19px;
}

.logo {
  width :50px;
}

.text-black {
  color : black;
}
